@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Slabo+27px&display=swap');
*{
    margin:0;
    padding:0;
}

body{
    display:flex;
    place-items:center;
    justify-content:center;
    flex-direction:column;
    font-family:'Poppins',sans-serif;
    background:#101010;
    color:#EBEBEC;
    width:100%;
    height:100dvh;
}
body > p{
    font-weight:300;
    font-size:.8rem;
    color:#EBEBEC;
}
section#app{
    width:320px;
}
section#app > div#campo-1{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    background:#0b0c13;
    padding:8px 11px;
    margin-bottom:19px;
}
section#app > div#campo-1 > input[type=text]{
    height:30px;
    background:transparent;
    outline:none;
    border:none;
    font-weight:600;
    color:#B5B6BA;
}
section#app > div#campo-1 >  button{
    font-size:.8rem;
    border:none;
    height:30px;
    width:70px;
    background:transparent;
    font-weight:800;
    color:#B5B6BA;
}
section#app > div#campos{
    display:flex;
    align-items:center;
    flex-direction:column;
    width:100%;
    background:#0b0c13;
    padding:1px 11px;
}
section#app > div#campos > div{
    width:100%;
}
section#app > div#campos > div > article{
    display:flex;
    align-items: center;
    justify-content:space-between;
    width:100%;
    margin:5px 0px;
}
section#app > div#campos > div#s-1 > article > p{
    font-size:.7rem;
}
section#app > div#campos > div#s-1 > input{
    display:inline-block;
    width:100%;
    height:5px;
    -webkit-appearance:none;
    background:transparent;
    border-radius:60px;
}
section#app > div#campos > div#s-1 > input::-webkit-slider-thumb{
    -webkit-apperance:none;
    width:16px;
    height:16px;
    border-radius:50%;
    accent-color:#B5B6BA;
}
section#app > div#campos > div#s-1 > article > i{
    color:#BE5DEF;
    font-weight:700;
}
section#app > div#campos > div#s-2{
    display:flex;
    align-items:center;
    flex-direction:column;
    width:100%;
    padding:20px 0px;
    gap:19px;
}
section#app > div#campos > div#s-2 > div{
    display:flex;
    flex-direction:row-reverse;
    align-items:left;
    justify-content:left;
    gap:20px;
    width:100%;
}
section#app > div#campos > div#s-2 > div > input{
    position:relative;
    cursor:pointer;
}
section#app > div#campos > div#s-2 > div > input::before{
    content:"";
    position:absolute;
    display:block;
    width:19px;
    height:19px;
    top:0;
    left:0;
    background-color:#101010;
    border:solid #101010 .1px;
}
section#app > div#campos > div#s-2 > div > input:checked::before{
    content:"";
    position:absolute;
    display:block;
    width:19px;
    height:19px;
    top:0;
    left:0;
    background-color:#0b0c13;
}
section#app > div#campos > div#s-2 > div > input:checked::after{
    content:"";
    position:absolute;
    display:block;
    width:5px;
    height:5px;
    top:5.5px;
    left:5.5px;
    border:solid white;
    border-radius:50%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform:rotate(45deg);
}
section#app > div#campos > div#s-3{
    width:100%;
    margin:10px 0px;
}
section#app > div#campos > div#s-3 > article{
    background:rgb(4, 4, 12);
    width:100%;
    height:40px;
    justify-content:space-between;
}
section#app > div#campos > div#s-3 > article >p{
    margin-left:10px;
    color:#8b8b8bcd;
}
section#app > div#campos > div#s-3 > article >strong{
    display:flex;
    align-items:center;
    justify-content:center;
    width:25%;
    height:30px;
    margin-right:10px;
    gap:5px;
}

section#app > div#campos > div#s-3 > article >strong > i.barra{
    display:block;
    width:8px;
    height:24px;
    border:solid white 1px;
}
section#app > div#campos > div#s-4{
    display:flex;
    align-items:center;
    width:100%;
    margin-bottom:10px;
}
section#app > div#campos > div#s-4 > #btn_gerar_senha{
    width:100%;
    height:36px;
    background-image:#BE5DEF;
    border:none;
    font-weight:bold;
}
.fraca:nth-child(1){
    background:#BE5DEF;
    border:none;
}
.fraca-media:nth-child(2),
.fraca-media:nth-child(1){
    background:#BE5DEF;
    border:none;
}
.forte-media:nth-child(2),
.forte-media:nth-child(1),
.forte-media:nth-child(3){
    background:#BE5DEF;
    border:none;
}
.forte:nth-child(2),
.forte:nth-child(1),
.forte:nth-child(3),
.forte:nth-child(4){
    background:#BE5DEF;
    border:none;
}